*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 .container__deleteAccount{
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
 }
 .container__deleteAccount:after{
    content: '';
    position: fixed;
    inset: 0;
    background-color: var(--color-main);
    height: 100vh;
    width: 60%;
    clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
    z-index: -1;
 }
 
 .container__deleteAccount-card{
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 10px 50px -30px black;
    width: 500px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
 }
 
 .container__deleteAccount-card a{
    text-decoration: none;
    color: var(--color-main)
 }
 
 .container__deleteAccount-card .container__deleteAccount-card_column{
    padding: 4rem;
 }
 
 .container__deleteAccount-card h1{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
 }

 .container__deleteAccount-card h3{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
 }
 
 /* .container__deleteAccount-card .form-element{
    width: 100%;
    border: none;
    background-color: #f1f1f1; 
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 50px;
    transition: box-shadows .2s;
 } */
 
 .container__deleteAccount-card .actions{
    margin-top: 1rem;
 }
 
 .container__deleteAccount-card .actions *{
    margin-top: 1rem;
 }
 
 .container__deleteAccount-card .actions button{
    background-color: #F23518;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 600;
    transition: all .2s;
    font-size: 18px;
 }
 
 .container__deleteAccount-card .actions button:active{
    scale: .95;
    background-color: darken(var(--color-main), 10%);
 }
 
 /* .container__deleteAccount-card .form-element:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--color-main);
 }
  */
 
 .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .flex a:first-child{
    color: #fff;
 }
 
 
 /* Responsive */
 
 @media (max-width: 992px) {
    .container__deleteAccount-card{
        display: block;
        width: 500px;
        text-align: center;
    }
 
    .flex{
        flex-direction: row;
        gap: 1rem;
    }
 }