@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(337deg, rgba(181, 196, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #1B2859;
  --color-blog: #042c54;
  --color-text: #fff;
  --color-subtext: #FF8A71;
  --color-main: #0037ff; 
}